<form id="data-form" action="/update_data" method="post" remote="true">
  <select id="region" name="region">
    <option value="en-US">USA</option>
    <option value="de">Germany</option>
    <option value="fe">France</option>
  </select>

  <br>

  <input type="range" id="errorSlider" name="errorSlider" min="0" max="10">
  <input type="number" id="errorText" name="errorText" min="0" max="1000">

  <br>

  <input type="number" id="seed" name="seed">
  <br>
  <input type="button" value="Click me" id="randomButton">
</form>

<table id="user-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Random Identifier</th>
      <th>Name</th>
      <th>Address</th>
      <th>Phone Number</th>
    </tr>
  </thead>
  <tbody id="user-table-body">
    <!-- The table rows will be inserted here -->
  </tbody>
</table>

<script>
  updateText();
</script>